In [3]:
import pandas as pd

df_final_demo = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_demo.txt')

In [76]:
df_final_web_1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_web_data_pt_1.txt')
df_final_web_1

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
343136,2443347,465784886_73090545671,136329900_10529659391_316129,confirm,2017-03-31 15:15:46
343137,2443347,465784886_73090545671,136329900_10529659391_316129,step_3,2017-03-31 15:14:53
343138,2443347,465784886_73090545671,136329900_10529659391_316129,step_2,2017-03-31 15:12:08
343139,2443347,465784886_73090545671,136329900_10529659391_316129,step_1,2017-03-31 15:11:37
343140,2443347,465784886_73090545671,136329900_10529659391_316129,start,2017-03-31 15:10:47

In [80]:
df_final_web_2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_web_data_pt_2.txt')
df_final_web_2

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [ ]:
df_final_experiment = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_experiment_clients.txt')
df_final_experiment

In [81]:
df_final_web_2.isnull().sum() # no null values

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [82]:
df_final_web_2.duplicated().value_counts() # there are 8669 duplicated rows

False    403595
True       8669
Name: count, dtype: int64

In [83]:
df_final_web_2.drop_duplicates(inplace = True) #drop the duplicated values

In [84]:
df_final_web_2.duplicated().value_counts() # confirming no duplicated values

False    403595
Name: count, dtype: int64

In [79]:
df_final_web_2.head()

,client_id,visitor_id,visit_id,process_step,date_time,date_time2
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58,2017-06-01 11:57:58

In [50]:
df_final_web_2.nunique()

client_id        67430
visitor_id       71042
visit_id         82841
process_step         5
date_time       346697
dtype: int64

In [64]:
#locate rows where visit_id is 154620534_35331068705_522317
visit = df_final_web_2.loc[df_final_web_2['visit_id'] == '154620534_35331068705_522317']
visit
#each row writes the completion/start(?) of a step in the process

,client_id,visitor_id,visit_id,process_step,date_time,date_time2
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58,2017-06-01 11:57:58
5,6019349,442094451_91531546617,154620534_35331068705_522317,start,2017-06-01 11:57:54,2017-06-01 11:57:54

In [78]:
#need to change the date_time column to a datetime object
df_final_web_2['date_time'] = pd.to_datetime(df_final_web_2['date_time'])
df_final_web_2['date_time'].dtype

dtype('<M8[ns]')

In [63]:
# calculate the time spent on each step
visit['time_spent'] = visit['date_time2'].diff().dt.total_seconds()

C:\Users\abarr\AppData\Local\Temp\ipykernel_488\869384250.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  visit['time_spent'] = visit['date_time2'].diff().dt.total_seconds()

In [67]:
val = df_final_web_2['process_step'].value_counts() 
val

process_step
start      127504
step_1      89437
step_2      71038
step_3      58319
confirm     57297
Name: count, dtype: int64

In [74]:
round(val['confirm']/val['start'],2)*100

np.float64(45.0)

In [88]:
#merge df_final_web_2 with df_final_web1
final_web = pd.concat([df_final_web_1, df_final_web_2])
final_web.shape

(746736, 5)

In [ ]:
#final_web.duplicated().sum()
final_web.drop_duplicates(inplace = True)

In [92]:
final_web

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [94]:
final_web['datetime']= pd.to_datetime(final_web['date_time'])

In [95]:
final_web.dtypes

client_id                int64
visitor_id              object
visit_id                object
process_step            object
date_time               object
datetime        datetime64[ns]
dtype: object